services:
  app:
    <<: *php-app
    ports:
      - "8080:8080"

  queue:
    <<: *php-app
    command: >
      sh -c "php artisan queue:work --sleep=3 --tries=3 --timeout=90 --no-interaction"

  scheduler:
    <<: *php-app
    command: >
      sh -c "while true; do php artisan schedule:run --verbose --no-interaction; sleep 60; done"

volumes:
  storage_data:
  bootstrap_cache:

x-php-app: &php-app
  build:
    context: .
    dockerfile: Dockerfile
  image: laraclassified-app
  env_file:
    - .env
  volumes:
    - storage_data:/var/www/html/storage
    - bootstrap_cache:/var/www/html/bootstrap/cache
  restart: unless-stopped
